body { margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #d6ffc9; 
}



#startPage {
  
  width: 100vw;  
  height: 100vh; 
  
 
  display: flex;
  

  flex-direction: column;

  justify-content: center; 
  
  align-items: center; 

  gap: 10%;

}
#gameCanvas { 
    border: 2px solid #f9f9f9; 
    background-color: #b8ffa9; 
}

.startPagebutton {
    width: 30%;
    height: 20%;
  padding: 15px 30px;
  font-size: 18px;
}